@layer theme, base, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './preflight.css' layer(base);

@font-face {
	font-family: 'IBM_VGA_8x14';
	src: url('/fonts/IBM_VGA_8x14.woff2') format('woff2');
}

html {
	background-color: black;
	color: white;
	font-family: 'IBM_VGA_8x14';
}

a:visited {
	color: green;
}
